{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "登录" %}{% endblock %}
{% block wrap %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}
<div class="row">
  <div class="col-md-4 col-md-offset-4">


<form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
 <h2 class="margin-base-vertical">请登录</h1>
{% if form.errors %}
<p>{% blocktrans %}你的用户名和密码不匹配。 请重新输入。{% endblocktrans %}</p>
{% endif %}
<p class="input-group">
	<span class="input-group-addon"><i class="fa fa-user"></i></span>
	<input id="id_username" type="text" class="form-control input-lg" name="username" placeholder="用户名" required autofocus />
</p>
<p class="input-group">
<span class="input-group-addon"><i class="fa fa-key"></i></span>
<input id="id_password"  type="text" class="form-control input-lg" name="password" placeholder="密码"  required />
</p>

<h3>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">忘记</a>密码?
    <a href="{{ register_url }}">注册新账号</a>?{% endblocktrans %}</h3>

<p class="text-center">
<input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans "登录" %}" />
</p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>

{% endblock %}
