{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "密码重置" %}{% endblock %}
{% block wrap %}
<div class="row">
  <div class="col-md-5 col-md-offset-3">
{% blocktrans %}
<p>忘记密码？</p><p>把你的电子邮箱填入下面表单中，我们会将密码重置的说明发送给你。</p>{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
	{{ form.email.errors }}
	<p class="input-group">
		<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
		<input id="id_email"  type="text" class="form-control input-lg" name="email" placeholder="电子邮箱"  required />
	</p>
			<p class="text-center">
            <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans "重置密码"  %}" />
            </p>
</form>
</div></div>
{% endblock %}
