{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "确认密码重置" %}{% endblock %}
{% block wrap %}
<div class="row">
  <div class="col-md-4 col-md-offset-1">
{% trans "输入新密码" %}
<form method="post" action="">{% csrf_token %}
	{{ form.password1.errors }}
	<p class="input-group">
		<span class="input-group-addon"><i class="fa fa-key"></i></span>
		<input id="id_new_password1"  type="password" class="form-control input-lg" name="new_password1" placeholder="新密码" required />
	</p>
	{{ form.password2.errors }}
	<p class="input-group">
		<span class="input-group-addon"><i class="fa fa-key"></i></span>
		<input id="id_new_password2"  type="password" class="form-control input-lg" name="new_password2" placeholder="新密码确认" required />
	</p>
	<p class="text-center">
    <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans "设定密码" %}" />
    </p>
</form>
</div></div>
{% endblock %}
