{% extends "base.html" %}
{% block title %} | {{ flatpage.title }}{% endblock %}
{% block wrap %}
{% load chunks %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
	<div class="navi">
	<ul>
  	<li>{% chunk "href-aboutus" %}</li>
  	<li>{% chunk "href-advice" %}</li>
  	<li>{% chunk "href-joinus" %}</li>
  	<li>{% chunk "href-business" %}</li>
	</ul>
	</div>
<div class="content">
<h2 class="title">{{ flatpage.title }}</h2>
<div class="post">{{ flatpage.content }}</div>
</div>
  </div>
</div>
{% endblock %}
