{% extends "base.html" %}
<!--{% load comments %} -->

{% block csslink %}
{% load staticfiles %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
{% endblock %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}
{% block main %}
<div class="post">
  <div class="headetail">
    <h2 class="title">{{ object.title }}</h2>
    <div class="info">时间：{{ object.pub_date|date:"Y年n月j日"}} | 编辑：{{ object.author }} | 来源：{{ object.source }}</div>
  </div>
<div class="news">{{ object.body_html|safe }}
    <p class="post-tags">
    {% if tag_list %}
    标签:
    {% for tag in tag_list %}
    <a href="{% url 'zenews_news_by_tag' tag.slug %}">{{ tag.name }}</a>
    {% endfor %}
    {% endif %}
    </p>
</div>

   <div class="meta">
   {% load comments i18n %}

    <span class="categories">
    {% if object.categories.count %}
    Categories:
    {% for category in object.categories.all %}
    <a href="{% url 'zenews_news_list' category.slug %}">{{ category.title }}</a>
    {% if forloop.last %}{% else %} |{% endif %}
    {% endfor %}
    {% endif %}
    </span>
    </div>

<!-- move the comments out.
{% render_comment_list for object %}
<div class="comment-form">
{% render_comment_form for object %}
</div>
-->

</div>
{% endblock %}

{% block side %}
    <ul>
        <li>
        <h2>搜索</h2>
        	<form id="searchform" method="get" action="">
		    <input type="text" name="s" id="s" class="textbox" value="" />
	     	<input id="btnSearch" type="submit" name="submit" value="Go" />
	        </form>
        </li>
    </ul>
{% endblock %}

{% block jslink %}
<script src="{% static 'jquery/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'fluent_comments/js/ajaxcomments.js' %}" type="text/javascript"></script>
{% endblock %}
