{% load spirit_tags i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} - {{ config.site_name }}</title>
    <meta name="description" content="{{ config.site_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="{% static 'spirit/stylesheets/vendors/github.min.css' %}">
    <link rel="stylesheet" href="{% static 'spirit/stylesheets/vendors/jquery.atwho.min.css' %}">
    <link rel="stylesheet" href="{% static 'spirit/stylesheets/styles.css' %}">
    <script src="{% static 'spirit/scripts/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'spirit/scripts/vendors/highlightjs/highlight.min.js' %}"></script>
    <script src="{% static 'spirit/scripts/util.js' %}"></script>
    <script src="{% static 'spirit/scripts/tab.js' %}"></script>
    <script src="{% static 'spirit/scripts/postify.js' %}"></script>
    <script src="{% static 'spirit/scripts/social_share.js' %}"></script>

    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'ueditor/ueditor.config.js' %}"></script>
        <script type="text/javascript" src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'ueditor/lang/zh-cn/zh-cn.js' %}"></script>

        <script src="{% static 'spirit/scripts/vendors/atwho/jquery.caret.min.js' %}"></script>
        <script src="{% static 'spirit/scripts/vendors/atwho/jquery.atwho.min.js' %}"></script>
        <script src="{% static 'spirit/scripts/vendors/marked/marked.min.js' %}"></script>
        <script src="{% static 'spirit/scripts/vendors/waypoints/waypoints.min.js' %}"></script>

        <script src="{% static 'spirit/scripts/like.js' %}"></script>
        <script src="{% static 'spirit/scripts/bookmark.js' %}"></script>
        <script src="{% static 'spirit/scripts/notification.js' %}"></script>
    {% endif %}

    {% if user.is_moderator %}
        <script src="{% static 'spirit/scripts/move_comments.js' %}"></script>
    {% endif %}

    <script>

	$( document ).ready(function() {

        $.tab();

        $( 'a.js-post' ).postify( {
            csrfToken: "{{ csrf_token }}",
        } );

        {% if user.is_authenticated %}
            $.notification( {
                notificationUrl: "{% url "spirit:topic-notification-ajax" %}",
                notificationListUrl: "{% url "spirit:topic-notification-list-unread" %}",
                mentionTxt: "{% trans "{user} has mention you on {topic}" %}",
                commentTxt: "{% trans "{user} has commented on {topic}" %}",
                showAll: "{% trans "Show all" %}",
                empty: "{% trans "No new notifications, yet" %}",
                unread: "{% trans "unread" %}",
            } );
        {% endif %}

	});

	</script>

    {% block head-extra %}{% endblock %}

    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" role="navigation">
        {% include 'spirit/_header.html' %}
        {% render_messages messages %}
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-11 content">
            {% block content %}{% endblock %}
          </div>
        </div>
    </div>
    <div class="footer">
      <div class="container">
        {% include 'spirit/_footer.html' %}
      </div>
    </div>
  </body>

</html>