{% extends "base.html" %}

{% block main %}
<div class="clist">
{% for item in object_list %}
<h2 class="title">{{ item.name }}</h2>
<div class="cd_night"><span>晚辅上课时间：{{item.cd_night}}{{ item.ctbgn_night }}~{{ item.ctend_night }}</span></div>
<div class="cd_day"><span>周末上课时间：{{item.cd_day}}{{ item.ctbgn_day }}~{{ item.ctend_day }}</span></div>
<div class=" "><span class="align_l">机构：{{ item.cinst}}</span></div>
<div class="details"><p>{{ item.details }}</p></div>

{% endfor %}
</div>
{% endblock %}

{% block side %}
    <ul>
        <li>
        <h2>搜索</h2>
        	<form id="searchform" method="get" action="">
		    <input type="text" name="s" id="s" class="textbox" value="" />
	     	<input id="btnSearch" type="submit" name="submit" value="Go" />
	        </form>
        </li> 
    </ul>
{% endblock %}
