
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}
#footer {
  position: absolute;
  bottom: 0;
  padding:20px 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  padding: 0 15px;

}
.container .text-muted {
  margin: 20px 0;
}

.text-align-below {
  padding-left:370px;
}

.navbar-brand {
  background: #fff url(/static/assets/img/logo.png) no-repeat 10px 10px;
  padding-left:45px;
}
.navbar-brand a {
  color:#333;
}
.navbar-brand a:hover {
  text-decoration: none;
  color:#F06A00;
}
