.navbar-logo {
	width:100%;
	text-align: right;
	font-size:300%;
	font-weight: 200;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}


.navbar-fixed-top {
	background:#fff url('/static/assets/img/logo_nav.png') 81px 0px no-repeat;
}

.navbar ul.navbar-nav > li > a {
	background: #fff;
	border-top: 2px solid #0099cc;
}
.navbar ul.navbar-nav > li.active > a {
	border-top: 0;
	border-bottom:2px solid #ff0000;
	color: #fff;
	background: #0099cc;
}
.navbar ul.navbar-nav > li > a:hover {
	background: #fff;
	color: #000;
}


/* Play box*/
#play *{font-size:100%; font-family:Verdana;margin:0;padding:0}
#play{margin:0;padding:0;}
#play img {border:0px}
#play {width:100%;height:300px;overflow:hidden;margin:0;}
#play_info{position:absolute;margin-top:262px;padding:9px 20px 0 0;height:36px;width:90%;color:#fff;z-index:1001;cursor:pointer}
#play_info b{font-size:110%;display:block}
#play_bg {position:absolute;background-color:#000;margin-top:262px;height:36px;width:90%;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000}
#play_text {position:absolute;margin:263px 0 0 235px;width:60px;height:36px;z-index:1002}
#play_text ul {width:60px;height:36px;display:block;padding-top:1px;_padding-top:0px;filter: Alpha(Opacity=80);opacity:0.8;}
#play_text ul li {width:14px;height:14px;float:left;background-color:#000;display:block;color:#FFF;text-align:center;margin:1px;cursor:pointer;font-family:"Courier New";}
#play_list a{display:block;width:100%;height:300px;position:absolute;overflow:hidden}

/* Form */
form{margin:0;padding:0;}
fieldset{margin:0;padding:0;border:none;}
input, textarea, select{color:#333;}
.input{height:16px;width:80px;}

#wrap{
	margin-top: 160px;
}

/* Index page's search form and general table style */
#wrap .cform, #wrap .table-responsive {font-size:0.9em; text-align:left; overflow: hidden;}
#wrap .cform form input{padding:1px;}
#wrap table{line-height:20px;table-layout:fixed;border-collapse:collapse;}
#wrap table caption{padding-bottom:2px;font-weight:bold;text-align:right;color:#E24812;}
#wrap table td, #wrap table th{text-align:center;border:1px solid #ABADB3;padding:3px;}








/* Footer */
#footer {font-size:90%;}
#footer p{line-height:1.5em;}
#footer p.navi{border-top:1px solid #5CB85C;padding-top:6px;}
#footer p.navi a{color:#333;}
#footer p.info,#footer a{color:#666;}
#footer p.navi a{padding:6px;}
#footer p.left{text-align:left;}
#footer p.right{text-align:right;}