

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 65px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    color:#333;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li {
  border-bottom:1px solid #fff;
}
.nav-sidebar > li  a {
  padding-right: 20px;
  padding-left: 20px;
  color:#333;
}
.nav-sidebar > li > a.active {
  color: #fff;
  background-color: #ff6600;
}
.nav-sidebar > li > a:hover {
  color: #fff;
  background-color: #ff6600;
}
.nav-sidebar > li.active > a {
  color: #fff;
  background-color: #ff6600;
}

.nav-sidebar li.toActivate > a, .nav-sidebar .sub-menu > li > a:hover {
  color:#fff;
  background-color:#0099CC;
}

.nav-sidebar .sub-menu {
  list-style-type: none;
  padding-left:0;
}
.nav-sidebar .sub-menu > li {
  padding:1px 0 0 20px;
}
.nav-sidebar .sub-menu > li > a{
  text-decoration: none;
  padding:7px 0 7px 18px;
  display: block;
}




.main {
  padding:0;
  padding-left:0px;

}


.focus {
  font-weight: bold;
}
.zen-orange {
  color:#ff6600;
}
.zen-green {
  color:#5CB85C;
}
.zen-red {
  color:#ff0000;
}
.zen-blue {
  color:#0099CC;
}
.zen-violet {
  color:#920058;
}
.reminder-today h3 > a.zen-red + .badge{
  background-color:#5CB85C;
}

.reminder-today > h3 {
  text-align:right;
  padding-right:32px;
}
.reminder-today > h3 > a:hover {
  color:#ff0000;
  text-decoration: none;
}

.hide {
  display:none;
}


.table-responsive table {
  width: 100%;
  font-size: 90%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-responsive table th {
  background-color: #5CB85C;
  color: #fff;
  border: 1px solid #fff;
}
.table-responsive table td {
  border-bottom: 1px solid #5CB85C;
  table-layout: fixed;
}
.table-responsive table th, .table-responsive table td{
  /*overflow: hidden;
  word-break:keep-all;*/
  text-align: center;
  white-space:nowrap;
}

.table-responsive table caption {
  caption-side: bottom;
  text-align:left;
  font-size:120%;
  font-family: Georgia, serif;
  color:#ff0000;
}
#prompt-box {
  display: block;
  position: fixed;
  background-color: #333;
  color:#fff;
  padding:5px;
  text-align: left;
  font-size: 120%;
}



