{% extends "base.html" %}
{% load l10n %}
{% block main %}
<h2>大家都在说...</h2>
<ul class="msg">
{% for msg, rpl in object_list %}
<li class="message {% cycle 'odd' 'even' %}"><p><label class="author">{{ msg.author }}</label> @{{ msg.add_date.date|unlocalize }}<label class="hidden">{{ msg.id }}</label></p><p>{{ msg.content }}</p><p align="right" class="rpl_btn"><a href="?parent_id=1">回复</a></p></li>
{% if rpl %}
{% for reply in rpl %}
<li class="reply"><label class="author">{{ reply.author }}</label> @{{ reply.add_date.date|unlocalize }}<label class="hidden">{{ reply.id }}</label></p><p>{{ reply.content }}</p></li>
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}
{% block side %}
<h2>您也说点吧...</h2>
<form action="/msgboard/" method="post">{% csrf_token %}
{{form.as_p}}
    <p class="submit">
    <input type="submit" name="post" class="submit-post" value="张贴" />
    </p>
</form>
{% endblock %}
