<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>文臻教育--每一个孩子都可以成为优秀生</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css'" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/wing.css' %}" rel="stylesheet">
    {% block cssfiles %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="navbar-collapse collapse">
 <ul class="nav navbar-nav">
    <li class="active"><a href="/">首页</a></li>
    <li><a href="/news/categories/jyzx">教育资讯</a></li>
    <li><a href="/news/categories/wzdt">文臻动态</a></li>
    <li><a href="/news/categories/wzzfb">中复班</a></li>
    <li><a href="/news/categories/bxcj">办学成绩</a></li>
    <li><a href="/news/categories/jzkt">家长课堂</a></li>
    <li><a href="/news/categories/jypx">教研培训</a></li>
   <li><a href="/news/categories/xsfm">学生风貌</a></li>
    <li><a href="/news/xkjl">学科交流</a></li>
    <li><a href="/guestbook/">留言板</a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>
</div>
</div>


<div id="wrap">
{% block wrap %}
<div class="row">
  <div class="col-md-7 col-md-offset-1 main">{% block main %}{% endblock %}
  </div>
  <div class="col-md-3 side">{% block side %}{% endblock %}
  </div>
</div>
{% endblock %}
</div>

<div id="footer">
{% block footer %}
<div class="container-fluid">
<div class="row">
<div class="col-md-5 col-md-offset-1">
<p>&copy; {% now "Y" %} 杭州文臻教育 版权所有</p>
</div>
<div class="col-md-5 right">
<p><a href="/aboutus/">关于我们</a>|<a href="/business/">业务体系</a>|<a href="/teachers/">师资力量</a>|<a href="/joinus/">加入文臻</a>|<a href="/advice/">意见建议</a>|<a href="http://mail.wingzen.com/">邮箱登陆</a>|<a href="/admin/">管理入口</a></p>
</div>
</div>
<div class="row">
<div class="col-md-10 col-md-offset-1">
<p>拱宸桥校区：永庆路135号（拱宸中学附近）定海西园15幢1号 电话：0571-88333000</p>
<p>东新园校区：东新园小区（北门）新湖苑9幢2号商铺 电话：0571-88333600</p>
<p>总部招生处电话：13735519093 (周老师)</p>
</div>
</div>
</div>
{% endblock %}
</div>



<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="{% static 'jquery/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/underscore-min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block jsfiles %}{% endblock %}

</body>
</html>