{% extends "base_index.html" %}
{% load zenews_filters %}
{% load zenews_tags %}
{% load l10n %}
{% load staticfiles %}

{% block cform %}
<form  method="post" action="{% url 'curriculum_search' %}" >{% csrf_token %}
  <span class="fa fa-calendar"></span>
  <label for="id_inst">校区: </label> {{form.inst}}
  <label for="id_csort">课程类型: </label> {{form.csort}}
  <label for="id_grade">年级: </label> {{form.grade}}
  <label for="id_subject">科目: </label> {{form.subject}}
  <label for="id_keywords">关键词: </label> {{form.keywords}}
  <input type="submit" value="搜索课程" />
</form>
{% endblock %}

{% block focpic %}
<div id="play">
  <div id="play_bg"></div>
  <div id="play_info"></div>
  <div id="play_text">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
    </ul>
  </div>
  <div id="play_list">
    {% for item in focpic %}
    <a href="{{item.get_absolute_url}}" target="_blank">
      <img src="{{ item.cover_thumbnail.url }}" title="{{ item.title }}" alt="{{item.title|truncatehanzi:22}}" />
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block banner %}
<ul>
    {% get_category_content zenews.news 'bxcj' 5 as latest_bxcj %}
    {% for item in latest_bxcj %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-thumbs-o-up "></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:32 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block ad1 %}
{% load adzone_tags %}
<div class="row">
<div class="col-md-3 ad">{% ad_by_title 'chu-zhong' 'index_page' %}</div>
<div class="col-md-3 ad">{% ad_by_title 'xiao-xue' 'index_page' %}</div>
<div class="col-md-3 align-r ad">{% ad_by_title 'gao-zhong' 'index_page' %}</div>
<div class="col-md-3 align-r ad">{% ad_by_title 'gao-zhi' 'index_page' %}</div>
</div>


{% endblock %}

{% block ad2 %}

{% endblock %}
{% block ad3 %}

{% endblock %}
{% block ad4 %}

{% endblock %}
{% block lst_wzdt %}
<ul>
    {% get_category_content zenews.news 'wzdt' 5 as latest_wzdt %}
    {% for item in latest_wzdt %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-bullhorn "></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:20 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_zfb %}
<ul>
    {% get_category_content zenews.news 'zfb' 5 as latest_zfb %}
    {% for item in latest_zfb %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-history "></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:20 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_jzkt %}
<ul>
    {% get_category_content zenews.news 'jzkt' 10 as latest_jzkt %}
    {% for item in latest_jzkt %}
  <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-book "></i> <a href="{{ item.get_absolute_url }}" title="{{ item.title}}">{{ item.title|truncatehanzi:12 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_jyzx %}
<ul>
    {% get_category_content zenews.news 'jyzx' 10 as latest_jyzx %}
    {% for item in latest_jyzx %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-lightbulb-o "></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:12 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_xsfm %}
<ul>
    {% get_category_content zenews.news 'xsfm' 5 as latest_xsfm %}
    {% for item in latest_xsfm %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-group "></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:20 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_jyzc %}
<ul>
    {% get_category_content zenews.news 'jyzc' 5 as latest_jyzc %}
    {% for item in latest_jyzc %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list "></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:12 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_jypx %}
<ul>
    {% get_category_content zenews.news 'jypx' 5 as latest_jypx %}
    {% for item in latest_jypx %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:12 }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block lst_kxjx %}
<div class="row">
  <div class="col-md-6">
    {% block lst_czkx %}
    <ul>
    {% get_category_content zenews.news 'czkx' 5 as latest_czkx %}
    {% for item in latest_czkx %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
  <div class="col-md-6">
    {% block lst_xxkx %}
    <ul>
    {% get_category_content zenews.news 'xxkx' 5 as latest_xxkx %}
    {% for item in latest_xxkx %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
</div>
{% endblock %}
{% block lst_sxjx %}
<div class="row">
  <div class="col-md-6">
    {% block lst_czsx %}
    <ul>
    {% get_category_content zenews.news 'czsx' 5 as latest_czsx %}
    {% for item in latest_czsx %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
  <div class="col-md-6">
    {% block lst_xxsx %}
    <ul>
    {% get_category_content zenews.news 'xxsx' 5 as latest_xxsx %}
    {% for item in latest_xxsx %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
</div>
{% endblock %}
{% block lst_ywjx %}
<div class="row">
  <div class="col-md-6">
    {% block lst_czyw %}
    <ul>
    {% get_category_content zenews.news 'czyw' 5 as latest_czyw %}
    {% for item in latest_czyw %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
    </div>
  <div class="col-md-6">
    {% block lst_xxyw %}
    <ul>
    {% get_category_content zenews.news 'xxyw' 5 as latest_xxyw %}
    {% for item in latest_xxyw %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
</div>
{% endblock %}
{% block lst_yyjx %}
<div class="row">
  <div class="col-md-6">
    {% block lst_czyy %}
    <ul>
    {% get_category_content zenews.news 'czyy' 5 as latest_czyy %}
    {% for item in latest_czyy %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
  <div class="col-md-6">
    {% block lst_xxyy %}
    <ul>
    {% get_category_content zenews.news 'xxyy' 5 as latest_xxyy %}
    {% for item in latest_xxyy %}
    <li><span class="r-date">[{{ item.pub_date.date|unlocalize }}]</span><i class="fa fa-list"></i> <a href='{{ item.get_absolute_url }}' title="{{ item.title}}">{{ item.title|truncatehanzi:23 }}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
</div>
</div>
{% endblock %}


